@model SignalRAssignment.Models.Member

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <dl class="row">
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Password)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Password)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Birthday)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Birthday)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Phone)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.City)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Country)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Country)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Hobby)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Hobby)
                </dd>
            </dl>
        </div>
        <div class="col-sm-4">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Avt)
                </dt>
                <dd class="col-sm-8">
                    <img src="~/@Model.Avt" class="img-fluid" alt="Product Image">
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
