@model IEnumerable<SignalRAssignment.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}
@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @ViewBag.SuccessMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @ViewBag.ErrorMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Pizza Store <a asp-action="Index" asp-controller="Cart">Order now!</a>.</p>
</div>

<form asp-controller="Home" asp-action="Search" method="post" id="searchForm">
    <div style="display: flex; justify-content: flex-end;">
        <input type="text" id="searchInput" name="str" placeholder="Search...">
    </div>
</form>

<div class="col-lg-12 col-md-12 pt-2">
    <div class="row pb-3">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-6 col-sm-12 pb-5">
                <div class="card product-item border-0 mb-4" style="height: 100%; display: flex; flex-direction: column; transition: transform 0.2s; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0" style="height: 200px;">
                        <img class="card-img-top img-fluid" src="~/@item.Image" alt="@item.ProductName" style="object-fit: cover; height: 100%; width: 100%;">
                    </div>
                    <div class="card-body border-left border-right text-center p-3">
                        <h5 class="card-title text-truncate mb-3">@item.ProductName</h5>
                        <h6 class="card-subtitle text-muted">$@item.UnitPrice.00</h6>
                    </div>
                    <div class="card-footer bg-light border-0 d-flex justify-content-between align-items-center">
                        <a asp-action="Details" asp-route-id="@item.ProductId" asp-controller="Products" class="btn btn-sm text-dark"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>

                        <form asp-controller="Cart" asp-action="AddToCart" method="post" class="form-inline">
                            <input type="hidden" name="productId" value="@item.ProductId" />
                            <div class="input-group">
                                <input type="number" name="quantity" class="form-control form-control-sm" value="1" min="1" max="10" />
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-sm btn-outline-secondary ml-2"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
